asgiref==3.7.2
attrs==23.1.0
btrfsutil==6.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==4.2.7
idna==3.4
libfdt==1.7.0
libvirt-python==9.10.0
nftables==0.1
packaging==23.2
ply==3.11
pycairo==1.25.1
pycparser==2.21
PyGObject==3.46.0
pytz==2023.3.post1
Reflector==2023.6.28.0.36.1
requests==2.31.0
smbus==1.1
sqlparse==0.4.3
urllib3==1.26.18
