{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h1>BIenvenidos al sitio de la libreria</h1>
            <p>Empezar a usar libros</p>
            <button class="btn btn-outline-primary" type="button">
                Empezar
            </button>
        </div>
    </div>    
</div>

{% endblock %}